extends layout

append content
  - if (items.length)
    article
      .inner.text_post
        h2 Articles
        ul
          - items.forEach(function(item) {
            li
              a(href="#{site.siteUrl}#{item.url}", title="#{item.title}") #{item.title} 
              time | #{item.time}
          - })

