extends layout

append content
  - if (items.length)
    - items.forEach(function(item) {
      article
        .inner.text_post.markdown
          | !{item.content}
        .footerwrap
          footer
            .date #{item.time}
            .link
              a(href="#{item.url}") comments
    - })

append article
  - if (items.length)
    article
      .inner.text_post
        h2 Articles
        ul
          - items.forEach(function(item) {
            li
              a(href="#{item.url}", title="#{item.title}") #{item.title}
          - })
  
append archive
  - if (archives.length)
    article
      .inner.text_post
        h2 Archives
        ul
          - archives.forEach(function(item) {
            li
              a(href="#{item.url}", title="#{item.title}") #{item.title}
          - })
