extends layout

append content
  - if (items.length)
    - items.forEach(function(item) {
      article
        .fb-like(data-href="#{site.siteUrl}#{item.url}", data-send='false', data-layout='button_count', data-width='450', data-show-faces='false', style="float:right;")
        .p
          h1
            a(href="#{site.siteUrl}#{item.url}") # #{item.title}
          | !{(item.content).replace('<h1>' + item.title + '</h1>', "")}
        .footerwrap
          footer
            .date Date: #{item.time}
            .link
              a(href="#{site.siteUrl}#{item.url}") comments
      hr
    - })

append article
  - if (items.length)
    article
      .inner.text_post
        h2 Articles
        ul
          - items.forEach(function(item) {
            li
              a(href="#{site.siteUrl}#{item.url}", title="#{item.title}") #{item.title}
          - })
  
append archive
  - if (archives.length)
    article
      .inner.text_post
        h2 Archives
        ul
          - archives.forEach(function(item) {
            li
              a(href="#{site.siteUrl}#{item.url}", title="#{item.title}") #{item.title}
          - })

append script
  script(src="/public/google-code-prettify/prettify.js")
  script
    (function() {
      var pres = document.getElementsByTagName('pre');
      for (var i=0,l=pres.length; i<l; i++) {
        pres[i].className = 'prettyprint';
      }
      prettyPrint();
    })();
