extends layout

append content
  article
    .fb-like(data-href="#{site.siteUrl}#{entry.url}", data-send='false', data-layout='button_count', data-width='450', data-show-faces='false', style="float:right;")
    .inner.text_post.markdown
      | !{entry.content}
    .footerwrap
      footer
        .date #{entry.time}

    .fb-comments(data-href="#{site.siteUrl}#{entry.url}", data-num-posts="10")

append script
  script(src="/public/google-code-prettify/prettify.js")
  script
    (function() {
      var pres = document.getElementsByTagName('pre');
      for (var i=0,l=pres.length; i<l; i++) {
        pres[i].className = 'prettyprint';
      }
      prettyPrint();
    })();
